<%=link_to "Home", root_path %> 
<%=link_to "Edit", edit_post_path(@post) %> 
<%=link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete [ #{@post.title} ] ?"} %> 
<br/><br/>
<h2> Post Details </h2>
<strong>Title</strong>
<p><%=@post.title %></p>

<strong>Link</strong>
<p><%=@post.link %></p>

<strong>Description</strong>
<p><%=@post.description %></p>
<br/> <br/>

<%= image_tag @post.image.url(:medium)%> <br/><br/><br/>

<h1><%=pluralize(@post.comments.count, "Comment")%></h1>
<% @comments.each do |comment| %>
  <%=comment.user.email %><br/><br/>
  <%=comment.content %><br/><br/>
<% end %>
<%=render 'comments/form' %>










